<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zlx.bs.dao.dao2.UserMapper">

    <select id="getUser" resultType="cn.zlx.bs.bean.User" >
        select * from user
    </select>

    <select id="findUserByEmailAndIdCard" resultType="cn.zlx.bs.bean.User" >
        select * from user where email = #{email} and card = #{card}
    </select>
</mapper>